header {

  .navbar-default {
    background-color: black !important;
    border-color: black !important;
    border-radius: 0px;
    margin: 0;
    height: 100px;
  }

  .navbar-nav li a {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
  }

  .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
  }

  .navbar {
    min-height:28px !important;
  }

  .header-logo {
    z-index: 100;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
  }

  .header-nav ul {
    list-style-type: none;
  }

  .header-nav {
    margin-top: 35px;
  }

  .header-menu-position {
    display: inline-block;
    position: relative;
  }

}
