.landing {

  .hero-unit {
    height: 60vh;
    width: 100vw;
    margin-bottom: 3%;
    background-image: image-url("Bookshelf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: 50% 80%;
    display: table;
    position: relative;

    .slogan {
      display: table-cell;
      vertical-align: middle;
    }
  }

}
